@{
    Layout = "_Layout";
    
    var titleMaxLength = Model.Recipes.Count > 0 ? Convert.ToInt32(Model.Recipes.Average(r => r.Title.Length) * 0.3) : 0;
    var totalPagesNumber = (int) Math.Ceiling((double) Model.TotalRecipesCount / (double) Model.MaxRecipesPerPage);
    var countStop = Model.CurrentPageNumber * 5 <= totalPagesNumber
        ? Model.CurrentPageNumber * 5 : totalPagesNumber;
    var countStart = countStop - Model.MaxRecipesPerPage - 1 > 0 ? countStop - Model.MaxRecipesPerPage - 1 : 1;
}

@inject ITelegramBotDbContext TelegramBotDbContext

@using Application.Interfaces
@model RecipesCarouselViewModel

<partial name="_HeaderNavbarPartial"/>

<div class="w-full bg-blue-900 pt-8 pb-8 text-center">
    <h4 class="text-2xl text-gray-100">Choose the right meals for you</h4>
    <p class="text-sm text-gray-100 mt-2">
        There are two main filters upon which you can select ones that suits you best.
    </p>
    <div class="flex flex-row items-center gap-x-3 justify-center mt-8">
        <a asp-action="DefaultForm" asp-controller="Home"
           asp-route-actionName="RecipesByIngredients"
           asp-route-controllerName="Recipes"
           class="text-gray-800 px-4 py-2 rounded-tl-lg rounded-bl-lg bg-gray-200">
            Get recipes by ingredients
        </a>
        <a asp-action="RecipesByNutrients" asp-controller="Recipes"
           class="text-gray-800 px-4 py-2 rounded-tr-lg rounded-br-lg bg-gray-200">
            Get recipes by nutrients
        </a>
        <a asp-action="AddAllLikedRecipesAsMeal" asp-controller="Recipes" class="text-gray-800 px-4 py-2 rounded-tr-lg rounded-br-lg bg-gray-200">Add all liked recipes as meal</a>
    </div>
    <div class="flex flex-row items-center gap-x-3 justify-center mt-8">
        <a asp-action="ClearRecipesAsPartOfMeal" asp-controller="Recipes" class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded">Clear recipes as part of the meal</a>
        <a asp-action="AddAllRecipesAsPartOfMeal" asp-controller="Recipes" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add all temporarily chosen recipes as part of the meal</a>
        <a asp-action="ClearLikedRecipesList" asp-controller="Recipes" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Clear saved recipes list</a>
    </div>
</div>
@if (Model.TotalRecipesCount == 0)
{
    <section class="flex items-center min-h-75 justify-center bg-white">
        <div class="mx-auto max-w-[43rem] my-6">
            <div class="text-center">
                <h1 class="mt-3 text-[3.5rem] font-bold leading-[4rem] tracking-tight text-black">
                    No recipes found
                </h1>
                <p class="mt-3 text-lg leading-relaxed text-slate-400">
                    Specify needed nutrients or products in order to filter something out and be able to save it.
                </p>
            </div>
        </div>
    </section>
}
else
{
    <div x-data="{ 
        billingType: 'month', 
        basicPrice: '19',
        premiumPrice: '29',
        proPrice: '39'
    }" class="min-h-full bg-gray-200 pb-12">
        <div class="w-full 2xl:w-3/4 flex items-center justify-center px-8 md:px-32 lg:px-16 2xl:px-0 mx-auto -mt-8">
            <div class="w-full grid grid-cols-1 xl:grid-cols-3 gap-8" id="gridColsParentOfCards">
                @if (@Model.NutrientViewDto is {Calories: > 0 })
                {
                    <section id="nutrientsInfo" class="absolute left-0 text-2lg right-5/6">
                        <div class="mt-8 p-8  md:flex justify-around">
                            <div class="flex justify-between p-0 bg-white/30 rounded-lg shadow-lg shadow-indigo-500/40 hover:shadow-xl hover:shadow-blue-500/40">
                                <div class="flex items-center space-x-4 px-2">
                                    <div class="flex flex-col m-0">
                                        <span class="font-bold">
                                            Nutrients report:
                                        </span>
                                        <span class="text-sm">Calories : @Model.NutrientViewDto.Calories</span>
                                        <span class="text-sm">Carbohydrates : @Model.NutrientViewDto.Carbohydrates</span>
                                        <span class="text-sm">Fat : @Model.NutrientViewDto.Fat</span>
                                        <span class="text-sm">Protein : @Model.NutrientViewDto.Protein </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                }


                @foreach (var recipe in Model.Recipes)
                {
                    <div class="bg-white shadow-2xl rounded-lg py-3 mt-8">
                        <p class="text-xl text-center font-bold text-blue-600">@recipe.Title[..titleMaxLength]</p>
                        <p class="text-center py-8">
                            <span class="text-4xl font-bold text-gray-700">
                                $<span x-text="basicPrice">@recipe.PricePerServing</span>
                            </span>
                            <span class="text-xs uppercase text-gray-500">
                                / <span x-text="billingType">serving</span>
                            </span>
                        </p>
                        <ul class="border-t border-gray-300 py-8 space-y-6">
                            <li class="flex items-center space-x-2 px-8">
                                <span class="bg-blue-600 rounded-full p-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 text-white" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                                    </svg>
                                </span>
                                <span class="text-gray-600 capitalize">@(recipe.Vegetarian ? "Vegetarian" : "Not vegetarian")</span>
                            </li>
                            <li class="flex items-center space-x-2 px-8">
                                <span class="bg-blue-600 rounded-full p-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 text-white" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                                    </svg>
                                </span>
                                <span class="text-gray-600 capitalize">@(recipe.GlutenFree ? "Gluten-free" : "Not gluten-free")</span>
                            </li>
                            <li class="flex items-center space-x-2 px-8">
                                <span class="bg-blue-600 rounded-full p-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 text-white" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                                    </svg>
                                </span>
                                <span class="text-gray-600 capitalize"><a href="@recipe.SpoonacularSourceUrl">Link</a> to original page</span>
                            </li>
                            @if (TelegramBotDbContext.RecipesUsers.FirstOrDefault(r => r.RecipeId == recipe.Id && r.IsPartOfTheMeal) != null)
                            {
                                <li class="flex items-center space-x-2 px-8">
                                    <span class="bg-blue-600 rounded-full p-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 text-white" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                    <a asp-action="RemoveRecipeFromTheMeal" asp-controller="Recipes"
                                       asp-route-recipeId="@recipe.Id"
                                       class="text-blue-600 capitalize">
                                        Remove as meal
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="flex items-center space-x-2 px-8">
                                    <span class="bg-blue-600 rounded-full p-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 text-white" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                    <a asp-action="AddRecipeAsPartOfMeal" asp-controller="Recipes"
                                       asp-route-recipeId="@recipe.Id"
                                       class="text-blue-600 capitalize">
                                        Add as part of the meal
                                    </a>
                                </li>
                            }
                        </ul>
                        <div class="flex flex-row items-center gap-x-3 justify-center mt-6">
                            @if (TelegramBotDbContext.RecipesUsers.Any(ru => ru.RecipeId == recipe.Id))
                            {
                                <a asp-action="RemoveRecipeFromLikedList" asp-controller="Recipes"
                                   asp-route-recipeId="@recipe.Id"
                                   class="bg-pink-600 hover:bg-pink-700 px-6 py-2 text-sm text-gray-200 uppercase rounded font-bold transition duration-150" title="Purchase">
                                    Remove as liked
                                </a>
                            }
                            else
                            {
                                <a asp-action="AddRecipeToUser" asp-controller="Recipes"
                                   asp-route-recipeId="@recipe.Id"
                                   class="bg-blue-600 hover:bg-blue-700 px-6 py-2 text-sm text-gray-200 uppercase rounded font-bold transition duration-150" title="Purchase">
                                    Save recipe
                                </a>
                                <div class="flex items-start">
                                    <div class="flex items-center h-5">
                                        <input id="remember" aria-describedby="remember" type="checkbox" class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-4 w-4 rounded">
                                        <input type="hidden" class="recipeIdToBeAdded" value="@recipe.Id">
                                    </div>
                                    <div class="text-sm ml-3">
                                        <label for="remember" class="font-medium text-gray-900">Mark as to be saved</label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @if (Model.Recipes.Any(r => TelegramBotDbContext.RecipesUsers.FirstOrDefault(ru => ru.RecipeId == r.Id) == null))
    {
        <div class="flex justify-center content-center mb-8">
            <button onclick="addAllRecipesMarkedAsSaved()" class="group relative h-10 w-40 overflow-hidden rounded-lg bg-white text-sm shadow">
                <div class="absolute inset-0 w-3 bg-amber-400 transition-all duration-[250ms] ease-out group-hover:w-full"></div>
                <span class="relative text-black group-hover:text-white">Add all marked as saved!</span>
            </button>
        </div>   
    }
    <!--pagination goes here-->
    <div class="grid w-full justify-items-center align-top mb-8">
        <nav class="mb-8" aria-label="Page navigation example">
            <ul class="inline-flex -space-x-px">
                <li>
                    <a asp-action="ShowRecipes" asp-route-pageNumber="@(Model.CurrentPageNumber - 1)" asp-controller="Recipes" 
                       class="@(Model.CurrentPageNumber > 1 ? "" : "pointer-events-none") bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 ml-0 rounded-l-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        Previous
                    </a>
                </li>

                @for (var pageNumber = countStart; pageNumber <= countStop; pageNumber++)
                {
                    <li>
                        <a asp-action="ShowRecipes" asp-route-pageNumber="@pageNumber" asp-controller="Recipes" 
                           class="@(pageNumber == Model.CurrentPageNumber ? "visited:bg-cyan-500" : "") bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            @pageNumber
                        </a>
                    </li>
                }
                <li>
                    <a asp-action="ShowRecipes" asp-route-pageNumber="@(Model.CurrentPageNumber + 1)" asp-controller="Recipes"
                       class="@(Model.CurrentPageNumber < totalPagesNumber ? "" : "pointer-events-none") bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 rounded-r-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        Next
                    </a>
                </li>

            </ul>
        </nav>
    </div>
}

<partial name="_Footer"/>